<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:"application_name") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <p>
        <% if current_user.avatar.attached? %>
          <%= image_tag(current_user.avatar.variant(resize: '24x24')) %>
        <% else %>
          <%= image_tag('user_default.jpg', size: '24x24') %>
        <% end %>
        <%= link_to current_user.name, "/users/#{current_user.id}" %>
        ｜<%= link_to t(:"helpers.action.user.log_out"), destroy_user_session_path, method: :delete %>
      </p>
    <% end %>
    <% if I18n.locale.to_s == "en" %>
      <%= link_to('日本語', :locale => 'ja') %>
    <% else %>
      <%= link_to('English', :locale => 'en') %>
    <% end %>
    <%= yield %>
  </body>
</html>
